### assembled binary
*.bin

### list files
*.lst

### images
*.png
*.gif


## don't know why z26 keeps generating this file, but for now just ignore
stdout.txt


minotaur.asm
minotaur.bin
minotaur.sym
Minotaur.asm
Minotaur.bin
Minotaur.sym
tankmaze_tester.asm

# Atari Dev Studio bin directory
bin/
