### assembled binary
*.bin

### list files
*.lst

### symbol files
*.sym

### images
*.png
*.gif


## don't know why z26 keeps generating this file, but for now just ignore
stdout.txt


minotaur.asm
minotaur.bin
Minotaur.asm
Minotaur.bin

### all tankmaze_tester files

tankmaze_tester.*

# Atari Dev Studio bin directory
bin/
